<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  <h1>fill out the form below to estimate the cost of your shipment</h1>
  <form action="/price" method="POST">
    <label for="weight">how much does your package weigh?</label>
    <input type="text" name="weight" id="weight">
    <label for="length">package length:</label>
    <input type="text" name="length" id="length">
    <label for="width">package width</label>
    <input type="text" name="width" id="width">
    <label for="height">package height</label>
    <input type="text" name="height" id="height">
    <button type="submit">Find Price!</button>
  </form>
</body>
</html>